/* Project CSS 
============================================================
============================================================*/

body {
	width:90%;
	background-color:#676C6E;
	margin: 10px auto;
	overflow:auto;
	color:white;
	font-family: 'Lobster', cursive;
	line-height:150%;
	font-size:1em;
}

#wrapper {
	width:100%;
	background-color:black;
	overflow:auto;
	font-family: 'Lato', sans-serif;
}

.left {float:left;}

.right {float:right;}

.clear {clear:both;}

.marginleft{ margin-left:20px;}

.margintop { margin-top:40px;}

.background {
	background-color:#cbc8c9;
	width:90%;
	margin:10px auto;
	border:5px solid orange;

}

/* HEADER ============================== */

header {
	font-family: 'Lobster', cursive;
	overflow:auto;
	border-bottom:2px solid;
}

header img {
	width:40%;
	height:100%;
}

header h1 {
	margin:20px;
	font-size:2em;
}

header p {
	width:55%;
	margin-left:10px;
	font-size:1.1em;
}

/* ABOUT ============================== */

#about {
	width: 95%;
	margin-left:20px;
	color:black;
	margin-top:20px;
}

#about h2 {
	padding-top: 20px;
	border-bottom:1px solid white;
	width:30%;
	margin-bottom:10px;
	font-size:1.3em;
}

#about p {
	width:60%;

}

#about li {
	margin-left:50px;
}

/* COMPONENTS ============================== */

#components {
	width: 95%;
	margin-left:20px;
	margin-top:20px;
	color:black;
}

#components h2 {
	padding-top: 20px;
	border-bottom:1px solid white;
	width:30%;
	margin-bottom:10px;
	font-size:1.3em;
}

#components h3 {
	padding-top:10px;
	margin-bottom:10px;
	font-weight: bold;
	margin-top:20px;
}

#components p {
	width:60%;

}

#components li {
	margin-left:50px;
}

#components ol {
	margin-left:50px;
}

#components img {
	width:40%;
}

#featured {
	width: 95%;
	margin-left:20px;
	margin-top:20px;
	color:black;
}

#featured h2 {
	padding-top: 20px;
	border-bottom:1px solid white;
	width:30%;
	margin-bottom:10px;
	font-size:1.3em;
}

#featured h3 {
	padding-top:10px;
	margin-bottom:10px;
	font-weight: bold;
	margin-top:20px;
}

#featured img {
	width:60%;
}
