@charset "utf-8";
/* CSS Document  */

*{	margin:0px; padding:0px; }
body 
{
font-family:Arial, Helvetica, sans-serif;
font-size:1em;
background-color:#D7D7D7;
margin:0px; 
padding:0px;
left top; width:900px;  
}
.left { float:left; }
.right{ float:right;}
.clear { 	clear:both;}


#wrapper{  left top; width:100%;   margin:0px auto;
overflow:auto;
}


#header{
float:left;

}


#main_content{
	padding-left:35px;
	float: none;
	margin-top: 10px;
	padding-top: 280px;
	background:#FFF;
	}


#top_nav{
	background-color:#C00;
	height: 20px;
	float:left;
	width:96.4%;
	padding-top: 15px;
	padding-left: 32px;
	padding-bottom: 15px;
	}
#top_nav ul li {
	display:inline-block;
}

#footer{background-color:#F2F2F2;
width:100%;
padding-top: 10px;
padding-bottom: 10px;
margin: 0px auto;
text-align: center;

}


#login-header{
position: relative;
float: right;
z-index: 50;
top: 210px;
text-align:right;
margin-top: -195px;
padding-right: 10px;

	}


.members_bucket{

border-left-style:dotted;
padding-left: 8px;
padding-right: 4px;
	
	}



/* Start of the Classes for Links*/

.top_nav_links	{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #ffffff;
	text-decoration: none;
	padding-right: 8px;
	padding-left: 8px;
	font-weight:bold;
	}
	
a.top_nav_links:hover {
	background:#03F;
	color:#FFF;
	}

.login-header_links{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #C00;
	text-decoration: none;
	font-weight:bold;
	padding-top: 5px;	
	}	
			
a.login-header_links:hover{
	text-decoration:underline;
	}

.footer_links{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	color: #000;
	text-decoration: none;
	font-weight:bold;	
	}	
			
a.footer_links:hover{
	text-decoration:underline;}


.white_links{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
	color: #fff;
	text-decoration: none;
	font-weight:bold;	
	}	
			
a.white_links:hover{
	text-decoration:underline;}







.hlinks_links{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;

	}	
			
a.hlinks_links:hover{
	text-decoration:underline;}



.pfooter{
		font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0px auto;
	}

.pfooter2{
		font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0px auto;
	text-align:justify;
	}


p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:.78em;
	font-weight: bold;
}

.normal_paragraph{
	font-weight: normal;
}
li{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;}	


h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	margin-top:10px;
	margin-bottom:10px;}
	
h4{
	
			font-family: Verdana, Arial, Helvetica, sans-serif;
	
	color: #000;
	text-decoration: none;
	font-weight:bold;
	
	}	

h3{
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #000;
	text-decoration: none;
	font-weight:bold;
	clear:both;
	padding-top: 15px;
}

h5{
	
			font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 3em;
	color: #fff;
	text-decoration: none;
	font-weight:bold;
	
	}	
	
	
ol{
	padding-left: 21px;
	padding-top: 10px;
	}
ul{
	padding-left: 20px;
	}

#tenant_screening_table a {
	color: #000099;
	font-size: 1em;
	text-decoration: none;
}

#tenant_screening_table {
	font-size: 1em;
}

#tenant_screening_table a:hover {
	text-decoration: underline;
	color: #CC0000;
}

#business_employment_table a {
	color: #000099;
	text-decoration: none;
}

#business_employment_table a:hover {
	text-decoration: underline;
	color: #CC0000;
}

#business_table a {
	color: #000099;
	font-size: 1em;
	text-decoration: none;
}

#business_table {
	font-size: 1em;
}

#business_table a:hover {
	text-decoration: underline;
	color: #CC0000;
}

#employee_table a {
	color: #000099;
	font-size: 1em;
	text-decoration: none;
}

#employee_table {
	font-size: 1em;
}

#employee_table a:hover {
	text-decoration: underline;
	color: #CC0000;
}

#care_baby_nonprofit_table a {
	color: #000099;
	text-decoration: none;
	font-size:.9em;
}

#care_baby_nonprofit_table a:hover {
	text-decoration: underline;
	color: #CC0000;
}

.members_header {
	font-size:1em;
}

.members_text {
	font-size: .8em;
}

/* Media Rules */ 

/*Media rules Iphone 6 portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {

#top_nav {
	color:black !important;
		
}

#top_nav ul li {
	display:none !important;
}

}
/*Media rules Iphone 6 landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

#top_nav {
	color:black !important;	
}

#top_nav ul li {
	display:none !important;
}

}